<app-navbar></app-navbar>
<div class="container">
  <div class="card">
    <p><img src="#" alt="{{ dog.dog_name }}'s picture"><br>
    <strong>Name:</strong> {{ dog.dog_name }}<br>
    <strong>Breed:</strong> {{ dog.breed }}<br>
    <strong>Weight:</strong> {{ dog.weight }} lbs<br>
    <strong>Sex:</strong> {{ dog.sex }}<br>
    <strong>Spayed/Neutered:</strong> {{ dog.fixed }}<br>
    <strong>Age:</strong> {{ dog.age_number }} {{ dog.age_unit }}<br>
    <strong>Play Style(s):</strong> {{ dog.play_style }}<br>
    <strong>Play Notes:</strong> {{ dog.play_notes }}<br>
    <strong>Fence Required:</strong> {{ dog.fence_required }}<br>
    <strong>Health Issues:</strong> {{ dog.health_issues }}<br>
    <strong>Health Notes:</strong> {{ dog.health_notes }}<br>
    <strong>Bio:</strong> {{ dog.bio }}<br></p>
  </div>
  <button (click)="goBack()">Go Back</button>
</div>
