p {
  text-align: left;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: #FFFFFF;
  opacity: 0.85;
  width: 90%;
  margin: 10px;
  padding: 5px;
  border: 1px #000000 solid;
}

.message {
  margin: 5px;
  padding: 5px;
}

.sent {
  text-align: right;
}
