<div class="container">
  <div class="card">
    <img src="{{ user.user_pic }}" alt="{{ user.username }}'s profile picture" class="profilePic">
    <h1>{{ user.username }}</h1>
    <h2>Your Information:</h2>
    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}<br>
      <strong>Address:</strong> {{ user.street_address }}<br>
      {{ user.city }} {{ user.state }} {{ user.zip }}<br>
      <strong>Gender:</strong> {{ user.gender }}<br>
    <a routerLink="/{{user.id}}/edit"><button>Edit user info</button></a></p>
    <h2>Your dog(s):</h2>
    <div *ngFor="let dog of user.dogs">
      <p><img src="#" alt="Dog picture"><br>
      <strong>Name:</strong> {{ dog.dog_name }}<br>
      <strong>Breed:</strong> {{ dog.breed }}<br>
      <strong>Weight:</strong> {{ dog.weight }} lbs<br>
      <strong>Sex:</strong> {{ dog.sex }}<br>
      <strong>Spayed/Neutered:</strong> {{ dog.fixed }}<br>
      <strong>Age:</strong> {{ dog.age_number }} {{ dog.age_unit }}<br>
      <strong>Play Style(s):</strong> {{ dog.play_style }}<br>
      <strong>Play Notes:</strong> {{ dog.play_notes }}<br>
      <strong>Fence Required:</strong> {{ dog.fence_required }}<br>
      <strong>Health Issues:</strong> {{ dog.health_issues }}<br>
      <strong>Health Notes:</strong> {{ dog.health_notes }}<br>
      <strong>Bio:</strong> {{ dog.bio }}<br>
      <a routerLink="/{{user.id}}/dogs/{{dog.id}}/edit"><button>Edit dog info</button></a></p>
    </div>
  </div>
</div>
