<div class="container">
  <div class="card">
    <img src="{{ user.user_pic }}" alt="Profile picture" class="profilePic">
    <h1>{{ user.username }}</h1>
    <h2>Your Information:</h2>
    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}<br>
      <strong>Address:</strong> {{ user.street_address }}<br>
      {{ user.city }} {{ user.state }} {{ user.zip }}<br>
      <strong>Gender:</strong> {{ user.gender }}<br>
    <button>Edit user info</button></p>
    <h2>Your dog(s):</h2>
    <p><img src="#" alt="Dog picture"><br>
    <strong>Name:</strong><br>
    <strong>Breed:</strong><br>
    <strong>Weight:</strong><br>
    <strong>Sex:</strong><br>
    <strong>Spayed/Neutered:</strong><br>
    <strong>Age:</strong><br>
    <strong>Play Style(s):</strong><br>
    <strong>Play Notes:</strong><br>
    <strong>Fence Required:</strong><br>
    <strong>Health Issues:</strong><br>
    <strong>Health Notes:</strong><br>
    <strong>Bio:</strong><br>
    <button>Edit dog info</button></p>
  </div>
</div>
