<div class="container">
  <div class="card">
    <div>
      <div *ngIf="user.user_pic" class="image-cropper">
        <img src="{{ user.user_pic }}" alt="{{ user.username }}'s profile picture">
      </div>
      <h3 *ngIf="user.firstName">{{ user.first_name }}'s Information:</h3>
      <h3 *ngIf="!user.firstName">Your Information:</h3>
      <div *ngIf="!user.gender">
        <p style="color:red;">Please update your information.</p>
      </div>
      <table>
        <tr>
          <td><strong>Name:</strong></td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
        </tr>
        <tr>
          <td><strong>Address:</strong></td>
          <td>{{ user.street_address }} {{ user.city }} {{ user.state }} {{ user.zip }}</td>
        </tr>
        <tr>
          <td><strong>Gender:</strong></td>
          <td>{{ user.gender }}</td>
        </tr>
      </table>
      <a routerLink="/{{user.id}}/edit"><button class="waves-effect waves-light btn">Edit user info</button></a>
      <button (click)="deleteUser()" class="waves-effect waves-light btn red">Delete Account</button>
    </div>
    <hr>
    <div>
      <h3>Your dog(s):</h3>
      <div *ngFor="let dog of user.dogs">
        <div class="image-cropper">
          <img src="{{ dog.dog_pic }}" alt="{{ dog.dog_name }}'s picture">
        </div>
        <table>
          <tr>
            <td><strong>Name:</strong></td>
            <td>{{ dog.dog_name }}</td>
          </tr>
          <tr>
            <td><strong>Breed:</strong></td>
            <td>{{ dog.breed }}</td>
          </tr>
          <tr>
            <td><strong>Weight:</strong></td>
            <td>{{ dog.weight }} lbs</td>
          </tr>
          <tr>
            <td><strong>Sex:</strong></td>
            <td>{{ dog.sex }}</td>
          </tr>
          <tr>
            <td><strong>Spayed/Neutered:</strong></td>
            <td>{{ dog.fixed }}</td>
          </tr>
          <tr>
            <td><strong>Age:</strong></td>
            <td>{{ dog.age_number }} {{ dog.age_unit }}</td>
          </tr>
          <tr>
            <td><strong>Play Style(s):</strong></td>
            <td>| <span *ngIf="dog.play_style.body_slammer">Body Slammer | </span>
                <span *ngIf="dog.play_style.boxer">Boxer | </span>
                <span *ngIf="dog.play_style.cheerleader">Cheerleader | </span>
                <span *ngIf="dog.play_style.cushy">Cushy | </span>
                <span *ngIf="dog.play_style.explorer">Explorer | </span>
                <span *ngIf="dog.play_style.shy">Shy | </span>
                <span *ngIf="dog.play_style.speed">Speed Demon | </span>
                <span *ngIf="dog.play_style.tag">Tag, You're It! | </span>
                <span *ngIf="dog.play_style.wrestler">Wrestler | </span>
            </td>
          </tr>
          <tr>
            <td><strong>Play Notes:</strong></td>
            <td>{{ dog.play_notes }}</td>
          </tr>
          <tr>
            <td><strong>Fence Required:</strong></td>
            <td>{{ dog.fence_required }}</td>
          </tr>
          <tr>
            <td><strong>Health Issues:</strong></td>
            <td>{{ dog.health_issues }}</td>
          </tr>
          <tr>
            <td><strong>Health Notes:</strong></td>
            <td>{{ dog.health_notes }}</td>
          </tr>
          <tr>
            <td><strong>Bio:</strong></td>
            <td>{{ dog.bio }}</td>
          </tr>
        </table>
        <a routerLink="/{{user.id}}/dogs/{{dog.id}}/edit"><button class="waves-effect waves-light btn">Edit dog info</button></a>
        <button (click)="deleteDog(dog.id)" class="waves-effect waves-light btn red">Remove Dog</button>
      </div>
      <div>
        <a routerLink="/{{user.id}}/dogs/new"><button class="waves-effect waves-light btn" style="margin-top: 5px;">Add a New Dog</button></a>
      </div>
    </div>
  </div>
</div>
