<div class="container">
  <div class="card">
    <h3>Find A Puppy Playmate</h3>
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm.value)">
      <div>
        <fieldset ngModelGroup="play_style">
          <h4>Play Style</h4>
          <input type="checkbox" name="cushy" id="cushy" value="cushy" ngModel>
          <label for="cushy">Cushy</label>
          <input type="checkbox" name="explorer" id="explorer" value="explorer" ngModel>
          <label for="explorer">Explorer</label>
          <input type="checkbox" name="shy" id="shy" value="shy" ngModel>
          <label for="shy">Shy</label>
          <input type="checkbox" name="cheerleader" id="cheerleader" value="cheerleader" ngModel>
          <label for="cheerleader">Cheerleader</label>
          <input type="checkbox" name="speed" id="speed" value="speed" ngModel>
          <label for="speed">Speed Demon</label>
          <input type="checkbox" name="tag" id="tag" value="tag" ngModel>
          <label for="tag">Tag, You're It!</label>
          <input type="checkbox" name="wrestler"id="wrestler" value="wrestler" ngModel>
          <label for="wrestler">Wrestler</label>
          <input type="checkbox" name="boxer" id="boxer" value="boxer" ngModel>
          <label for="boxer">Boxer</label>
          <input type="checkbox" name="body_slammer" id="body-slammer" value="body-slammer" ngModel>
          <label for="body-slammer">Body Slammer</label>
        </fieldset>
        <a href="assets/playstyles.html" target="_blank">Click here for more information on play styles.</a>
      </div>
      <div>
        <fieldset>
          <h4>Weight Range</h4>
          <input type="checkbox" name="small" id="small" ngModel>
          <label for="small">Small (under 20lbs)</label>
          <input type="checkbox" name="mdeium" id="medium" ngModel>
          <label for="medium">Medium (21lbs - 40lbs)</label>
          <input type="checkbox" name="large" id="large" ngModel>
          <label for="large">Large (41lbs - 70lbs)</label>
          <input type="checkbox" name="giant" id="giant" ngModel>
          <label for="giant">Giant (over 70lbs)</label>
        </fieldset>
      </div>
      <div>
        <fieldset>
          <h4>Age Range</h4>
          <input type="checkbox" name="puppy" id="puppy" ngModel>
          <label for="puppy">Puppy (less than 1 year old)</label>
          <input type="checkbox" name="adult" id="adult" ngModel>
          <label for="adult">Adult (1 - 7 years old)</label>
          <input type="checkbox" name="senior" id="senior" ngModel>
          <label for="senior">Senior (More than 7 years old)</label>
        </fieldset>
      </div>
      <div>
        <fieldset>
        <h4>Dog's Sex</h4>
          <input type="checkbox" name="sex" id="dog-male" value="male" ngModel>
          <label for="dog-male">Male</label>
          <input type="checkbox" name="sex" id="dog-female" value="female" ngModel>
          <label for="dog-female">Female</label>
          <input type="radio" class="with-gap" name="fixed" id="fixed" value="true" ngModel>
          <label for="fixed">Required to be spayed/neutered?</label>
        </fieldset>
      </div>
      <div>
        <fieldset>
          <h4>Dog Parent's Gender</h4>
          <input type="radio" class="with-gap" name="gender" id="human-male" value="male" ngModel>
          <label for="human-male">Male</label>
          <input type="radio" class="with-gap" name="gender" id="human-female" value="female" ngModel>
          <label for="human-female">Female</label>
          <input type="radio" class="with-gap" name="gender" id="human-none" value="no_pref" ngModel>
          <label for="human-none">No Preference</label>
        </fieldset>
      </div>
      <input type="submit" class="waves-effect waves-light btn">
    </form>
  </div>
</div>
